<?php

$config['db'] = array(
    'driver'   => 'pdo_mysql',
    'host'     => '127.0.0.1',
    'port'     => '3306',
    'dbname'   => 'kotoblog',
    'user'     => '',
    'password' => '',
    'charset' => 'utf8',
    'driverOptions' => array(
        1002=>'SET NAMES utf8'
    )
);
