{% extends 'layout.html.twig' %}
{% block maincolumn %}
    <div class="row">
        <div class="col-md-4 hidden-xs hidden-sm">
            <img src="{{ app.request.basepath }}/img/about-me.jpg" class="img-thumbnail" />
        </div>
        <div class="col-md-8">
            <p>Привет!</p>
            <p>Меня зовут Сергей, и я автор данного блога.</p>
            <p>Если Вам нравиться то что я делаю, и вы хотите меня поблагадарить
                то можете воспользоваться страницей пожертвований (которой кстати нет :)
                на развитее сего дела, или же просто по-чаще заходить на мой блог,
                оставлять здесь свои комментарии и публиковать ссылки у себя на сайтах,
                страницах, блогах и т.д.
            </p>
            <p>Я молодой программист, занимающийся созданием и развитием сайтов в сети. Моя специфика это Symfony2</p>
            <p>Также пишу свои скрипты на PHP.</p>
            <p>Спасибо за то что, сумели дочитать это до конца :)</p>
        </div>
    </div>
{% endblock maincolumn %}
