{% for article in articles %}
    <article>
        <h3><a href="{{ path('showArticle', {'slug': article.slug}) }}">{{ article.title }}</a></h3>
        <h6>{{ article.createdAt|date('Y-m-d') }}</h6>
        {{ article.text|raw }}
    </article>
{% endfor %}
<div class="showMore"></div>
