{% extends 'layout.html.twig' %}
{% block maincolumn %}
    <article>
        <h3>{{ article.title }}</h3>
        <h6><span class="glyphicon glyphicon-calendar"></span> {{ article.createdAt|date('d/m/Y') }}</h6>
        {% if article.image|default('null') != 'null' %}
            {{ image(article.image, 'articleMainImage')|raw }}
        {% endif %}
        {{ article.text|raw }}
        {% include 'articleTags.html.twig' with {'tags': article.tags} %}
    </article>
{% endblock maincolumn %}
