{% extends 'layout.html.twig' %}
{% block maincolumn %}
    {{ render(url('articles')) }}
{% endblock maincolumn %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var page = 2;
        var showMore = $('.showMore');
        var loader = '<img id="loading" src="{{ app.request.basepath }}/img/ajax-loader.gif" />';
        $(window).scroll(function () {
            if ($(window).scrollTop() >= $(document).height() - $(window).height() - 500 && $('.showMore').length > 0) {
                $('.showMore').replaceWith(loader);
                $.ajax({
                    type: "GET",
                    url: "{{ path('articles') }}",
                    data: { count: 10, page: page },
                    statusCode: {
                        404: function() {
                            $('#loading').remove();
                        }
                    }
                })
                .done(function( data ) {
                    //highlight code blocks
                    var $data = $(data);
                    $data.find('pre code').each(function(i, e) {
                        hljs.highlightBlock(e, hljs.tabReplace, false, hljs.lineNodes)
                    });

                    $('#loading').replaceWith($data);
                    console.log( page );
                    page++;
                })
                .fail(function() {
                    $('#loading').replaceWith('<div id="loading">Oops! Something went wrong...</div>');
                })
                ;
            }
        });
    </script>
{% endblock %}
