{% extends 'layout.html.twig' %}
{% block maincolumn %}
    {% for article in articles %}
        <article>
            <h3>{{ article.title }}</h3>
            <small>{{ article.createdAt|date('Y-m-d') }}</small>
            {{ article.text|raw }}
        </article>
    {% endfor %}
{% endblock maincolumn %}